<template name="index">
	<ul>
	{{#each posts}}
		<div class="space">
			<li class="private row"> <!-- class private -->
				<div class="col-xs-2">
					<i class="fa fa-bullhorn fa-2x">{{voteResult}}</i>
				{{#if currentUser}}
					<div>
						<button class="vote-up">
							{{#if user_has_voted_up}}
								<i>no</i>
							{{else}}
								<i class="fa fa-arrow-circle-up"></i>
							{{/if}}
						</button>
						<button class="vote-down">
							{{#if user_has_voted_down}}
								<i>no</i>
							{{else}}
								<i class="fa fa-arrow-circle-down"></i>
							{{/if}}
						</button>				
					</div>
				{{/if}}
				</div>
				<div class="col-xs-8">
					<span class="text"><strong>{{email}}</strong> - {{text}}</span>
				</div>
				<div class="col-xs-offset-2">
				{{#if user_legit}}
					<button class="delete">&times;</button>		
				{{/if}}
				</div>
			</li>
		</div>
	{{/each}}		
	</ul>
<!-- pagination -->
	<div class="text-center">
		<ul class="pagination_bis">
			  <li>
			    <a href="/{{page_before}}" class="previous" aria-label="Previous">
			      <span aria-hidden="true">&laquo;</span>
			    </a>
			  </li>
			  {{#each number_of_pages}}
			  	<li id="{{this}}" class="{{#if active}}active_bis{{/if}}">
			  		<a href="/{{this}}">{{this}}</a>
			  	</li>
			  {{/each}}
			  <li>
			    <a href="/{{page_after}}" class="next" aria-label="Next">
			      <span aria-hidden="true">&raquo;</span>
			    </a>
			  </li>
		</ul>
	</div>
</template>